
form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

form fieldset {
    background-color: var(--button-text-color);
    border: 10px solid var(--main-color);
    border-radius: 20px;
    padding: 40px;
}

form legend {
    font-size: 1.5rem;
    padding: 0 20px;
}

form li:not(:last-child) {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

form li:nth-child(4) {
    flex-wrap: wrap;
}

form input[type="text"],
form input[type="number"] {
    border-radius: 50px;
    border: none;
    height: 2rem;
    padding: 0 10px;
    outline: none;
    background-color: var(--main-bgc-color);
}

form label.isRead {
    font-weight: bold;
    font-size: 1.2rem;
}

form label.isRead:first-child {
    margin-right: 10px;
}

form button[type="submit"] {
    display: block;
    margin: 0 auto;
}

form .closeButton {
    position: absolute;
    right: 0;
    top: 0;
    width: 35px;
    height: 35px;
    background-color: #fff;
    border-radius: 20px;
    border: 5px solid var(--main-color);
}

form .closeButton::before,
form .closeButton::after {
    position: absolute;
    content: "";
    height: 20px;
    width: 2px;
    top: 50%;
    right: 50%;
    background-color: var(--main-color);
    opacity: 0.5;
}

form .closeButton::before {
    transform: translate(50%, -50%) rotate(45deg);
}

form .closeButton::after {
    transform: translate(50%, -50%) rotate(-45deg);
}

form .closeButton:hover::before,
form .closeButton:hover::after {
    opacity: 1;
}

form button[type="submit"] {
    background-color: var(--button-bgc-color);
    color: var(--button-text-color);
    min-width: 125px;
    border-radius: 20px;
    padding: 10px 30px;
}
