/* normalize */
@import url("https://necolas.github.io/normalize.css/latest/normalize.css");
/* Noto Sans */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

:root {
    --main-color-light: rgb(255, 255, 255);
    --main-color-dark: rgb(0, 0, 0);
    --library-color: rgb(226, 232, 240);
    --button-bgc-color: rgb(25, 146, 211);
    --overlay-bgc-color:  rgba(0, 0, 0, 0.3);
}

* {
    box-sizing: border-box;
    font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol";
}

ul,
h1,
h2,
h3,
h4,
button,
p {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: auto;
}

header {
    padding: 0 20px;
    flex: 0 1 auto;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--button-text-color);
}

main {
    background-color: var(--main-bgc-color);
    padding: 50px 20px;
    flex: 1 1 auto;
}

.wrap {
    visibility: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.wrap.active {
    visibility: visible;
}
