nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    min-height: 100px;
}

nav .addBtn {
    background-color: var(--button-bgc-color);
    color: var(--button-text-color);
    min-width: 125px;
    border-radius: 20px;
    padding: 10px 30px;
}